header,
.grid,
Footer {
    max-width: 840px;
    margin: 0 auto;

}

nav {
    display: flex;
    justify-content: space-evenly;

}

.hero {
    position: relative;
}

.hero > img {
    width: 100px;

}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100px;
    text-align: center;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 5%;
    right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, .8);
    padding: 20px;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 20px;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    text-align: center;

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
